@import "tailwindcss";
@import "./styles/theme.css";
@import "./styles/base.css";
@import "./styles/utilities.css";

.max-w-md {
  max-width: 28rem;
}

/* Font registration */

@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjo.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "NanumMyeongjo";
  src: url("/fonts/NanumMyeongjoExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NanumMyeongjo", system-ui, "Noto Sans KR", sans-serif;
}

